<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.goodbye.zarnekow/GoodbyeDSL" 
       class = "zarnekow.goodbye.goodbyeDSL.GoodbyeDSLPackage"
       genModel = "model/generated/GoodbyeDSL.genmodel" /> 
	
  </extension>



</plugin>
